<h3><i class="fas fa-book-reader">StoryBooks</i></h3>

<div class="section">
  <p class="lead">create public and private stories for your life</p>
</div>

<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-googlwe left"></i>Log In With Google</a>
</div>